:root {
    --font-family: "Teko", serif;
}
header {
    background-color: black;
    color: whitesmoke;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
h1 {
    display: flex;
    justify-content: space-evenly;
}

header nav {
    background-color: rgba(169, 169, 169, 0.415);
}
header ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
header li {
    display: flex;
    justify-content: center;
}

nav a {
	display: block;
    padding: 5px;
    font-family: var(--font-family);
	color: rgb(32, 148, 148);
	font-size: 2.2rem;
    text-decoration: none;
}

nav a:hover {
	color: rgba(39, 159, 147, 0.882);
	font-weight: 700;
	text-decoration: underline;
}


main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.right {
    background-color: gray;
    display: grid;
    grid-template-rows: 70px 1fr;
}

.right ul li{
    display: flex;
    align-items: center;
}

.left {
    background-color: rgba(178, 178, 178, 0.69);
    display: grid;
    grid-template-rows: 70px 1fr 1fr;
}


.right ,.left {
    height: 500px;
}

main h2 {
    background-color: rgb(51, 110, 247);
    display: flex;
    justify-content: center;
    width: 100%;
}

.second, .country {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.second {
    display: flex;
    justify-content: center;
}

.second img {
    max-width: 200px;
    max-height: 200px;
    padding: 30px;
}

.country {
    display: flex;
    justify-content: center;
}

.country img {
    max-width: 200px;
    max-height: 200px;
    padding: 30px;
}



footer {
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 90px;
}